
    .page1 {
        width: 21cm;
        min-height: 29.7cm;
        padding: 1cm;
        margin: 1cm auto;
        border: 1px #D3D3D3 solid;
        border-radius: 5px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
    .subpage {
        padding: 1cm;
        border: 5px red solid;
        height: 256mm;
        outline: 2cm #FFEAEA solid;
    }
    








.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.datagrid {
    font: normal 8px/150% Arial, Helvética, sans-serif;
    background: #fff;
    overflow: hidden;
    /*border: 0px solid #000000;*/
}

    /*.datagrid table td, .datagrid table th {
        padding: 1px 1px;
    }*/

    .datagrid table thead th {
    /*background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFFFFF), color-stop(1, #A1A1A1) );
        background: -moz-linear-gradient( center top, #FFFFFF 5%, #A1A1A1 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#A1A1A1');
        background-color: #FFFFFF;*/
    border: 1px solid #000000;
    color: #000000;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

    .datagrid table tbody td {
    padding: 1px;
    color: #000000;
    border-left: 1px solid #000000;
    font-size: 8px;
    border-bottom: 1px solid #000000;
    font-weight: normal;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-color: #000000;
    border-bottom-color: #000000;
    border-left-color: #000000;
}

    /*.datagrid table tbody .alt td {
        background: #FFFFFF;
        color: #000000;
    }*/

    /*.datagrid table tbody td:first-child {
        border-left: none;
    }

    .datagrid table tbody tr:last-child td {
        border-bottom: none;
    }*/


.myButton {
    font-size: 16px;
    font-weight: bold;
    background: #33c171;
    color: #ffffff;
    border: 3px solid #0c6b05;
    border-radius: 11px;
    padding: 10px 15px;
    letter-spacing: 0px;
}

    .myButton:hover {
        background: #e3e3e3;
        color: #333333;
    }



.pagepdf {
    border: 1px solid;
    width: auto;
    padding: 4px;
    margin: 2em;
}




dl {
    margin-top: 0;    
}

dt,
dd {
    line-height: 0.8;
    margin-bottom: 0.6px;
}

dt {
    font-weight: bold;
    margin-left: 0;
    /*margin-bottom: 1px;*/
}

dd {
    margin-left: 0;
    margin-bottom: 0.6px;
}

@media (min-width: 768px) {
    .dl-horizontalpdf dt {
        float: left;
        width: 160px;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
        /*margin-bottom: 1px;*/
    }

    .dl-horizontalpdf dd {
        margin-left: 180px;
        /*margin-bottom: 1px;*/
    }
}


.dl-horizontalpdf dd:before,
.dl-horizontalpdf dd:after,

.modal-footer:after {

}







