<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BDRRHHConnectionString" connectionString="Data Source=192.168.3.3\SNSHOSPITAL;Initial Catalog=BDRRHH;User ID=sa; Password=Hospital10" providerName="System.Data.SqlClient" />
    <add name="BDRRHHConnectionString1" connectionString="Data Source=192.168.3.3\SNSHOSPITAL;Initial Catalog=BDRRHH;User ID=sa; Password=Hospital10" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <sessionState timeout="20" />
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"></customErrors>
    <httpRuntime executionTimeout="240000" maxRequestLength="1048576" />

    <webServices>
      <protocols>
      <add name="HttpGet"/>
      <add name="HttpPost"/>
    </protocols>
      </webServices>
  </system.web>

  
  
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"></jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
    <system.webServer>
        <caching>
            <profiles>
                <add extension=".aspx" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
            </profiles>
        </caching>
        <defaultDocument enabled="true">
            <files>
                <remove value="default.aspx" />
                <remove value="iisstart.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
                <remove value="index.htm" />
                <remove value="index.html" />
                <add value="defaultpersonal.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>